body {
    background-color: #141729;
}

.irlogo {
    position: absolute;
    width: 20vw;
    left: 5%;
    top: 3%;
}

.headline {
    margin: auto;
    margin-top: 10%;
    width: 100%;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    text-align: center;

    color: #FFFFFF;
}
.underheadline {
    margin: auto;
    width: 34%;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    text-align: right;

    color: #FFFFFF;
}

.infotext {
    margin: auto;
    margin-top: 2vw;
    width: 80%;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    text-align: center;

    color: #FFFFFF;
} 

.fp-car-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
    text-align: center;

    color: #FFFFFF;
}

.gamename-text {
    margin: auto;
    margin-top: 2vw;
    width: 50%;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    text-align: center;

    color: #66F0D7;
}

.container {
    margin-top: 5%;
}

.buttonwhite {

    color: #141729;

    align-items: center; /* Vertically center the content */
    margin: auto; /* Center the button horizontally within its container */
    display: flex;
    justify-content: center;
    padding: 20px 50px;

    border: 1px solid #FFFFFF;
    border-radius: 100px;

}

.buttonblack {

    background-color: #141729;
    color: #FFFFFF;

    align-items: center; /* Vertically center the content */
    margin: auto; /* Center the button horizontally within its container */
    display: flex;
    justify-content: center;
    padding: 20px 65px;

    border: 1px solid #FFFFFF;
    border-radius: 100px;

}